// COLORS
$color-primary: #E50914;
$color-white: #fff;
$color-white-light: #f5f5f5;
$color-dark-light: #222222;
$color-dark: #000;
$color-gray: #303030;
$color-gray-dark: #757575;
$color-gray-medium: #8C8C8C;
$color-green: #10ac84;

// SIZE
$logo-size: 17rem;