.header__home {
  height: 90vh;
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  
  .header__movie {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem; 
    color: $color-white;
    position: relative;
    background-image: linear-gradient(rgba($color-dark, 0.5), rgba($color-dark, 0.3));
    
    &__title {
      font-weight: 800;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
    
    &__paragraph {
      z-index: 2;
      font-weight: 500;
      color: $color-white-light;
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      width: 70%;
      .expand {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $color-white;
        font-size: 3rem;
        transform: translateY(10%);
        &.expanded {
          transform:  rotateZ(180deg);
        }
      }
    }
    
    &__play {
      width: 10rem;
      font-size: 3rem;
      padding: 0.8rem 0.1rem;
      cursor: pointer;
      background-color: #55c57a;
      border: none;
      border-radius: 3px;
      font-weight: 500;
      color: $color-white;
    }
  }
}

.home__nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: absolute;
  background-color: rgba($color-dark, 0.8);
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  
  &__logo {
    img {
      width: 17rem;
    }
  }

  &__options { 
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
      }
      h4 {
        margin-left: 1rem;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .user {
      position: relative;
      img {
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        margin-left: 2rem;
      }

      &__options {
        position: absolute;
        background-color: $color-dark;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding: 1rem;
        width: 18rem;
        margin-top: 1rem;
        border-radius: 4px;

        h3, a {
          font-size: 2rem;
          font-weight: 500;
          color: $color-white;
        }

        h3 {
          color: $color-primary;
          cursor: pointer;
        }

        a {
          margin-bottom: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}

.row-list {
  padding: 2rem 3rem;
  position: relative;
}

.row {
  width: 100%;
  min-height: 25rem;
  position: relative;

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  } 

  &__movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    
    &::-webkit-scrollbar {
      overflow: hidden; 
      display: none;
    }
    
    .arrow {
      display: none;
      background-color: rgba($color-dark, 0.8);
      width: auto;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 50%;
      width: 4%;
      
      &__icon {
        font-weight: 400;
        font-size: 8rem;
        color: $color-white; 
      }
      
      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }

    &:hover .arrow {
      display: flex;
    }
  }

  &:first-child {
    margin-bottom: 3rem;
  }
}

.movie-view {
  position: fixed !important;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color-dark, 0.3);
  z-index: 6;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &__content {
    height: 100%;
    width: 100%;
    background-color: rgba($color-dark, 1);
    flex-direction: column;
    padding: 4rem;
    position: relative;

    .video-player {
      width: 100%;
      height: 70%;
      margin-top: 2rem;
      div {
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    img {
      z-index: 2;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      height: 6rem;
      cursor: pointer;
      background-color: rgba($color-white, 0.3);
      border-radius: 50%;
      padding: 1rem;
    }

    .text-info {
      padding: 1rem;
      background-color: rgba($color-gray, 0.8);
      margin-bottom: 2rem;

      .name {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 600;
      }
  
      .description {
        font-size: 1.8rem;  
      }
    }


    .bookmark {
      height: 8rem;
      width: 25rem;
      position: relative;
      background-color: $color-green;
      border-radius: 5px;
      
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
          background-color: rgba(0, 0, 0, 0.9);
          svg {
            fill: rgba($color-white, 0.1);
            path {
              stroke: rgba($color-white, 0.1);
            }
          }
          h5 {
            color: rgba($color-white, 0.1);
          }
        }
        
        .svg-bookmark {
          display: flex;
          fill: $color-white;
          width: 20%;
          height: 80%;
          stroke-width: 0.2rem;
        }

        h5 {
          width: 70%;
          font-size: 2rem;
          color: $color-white;
        }
      }
    }
  }
}

// check for touch screen devices, and remove scroll buttons
@media (hover: none) {
  .row {
    &__movies {
      &:hover .arrow {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1146px) {
  .home__nav {
    &__options { 
      width: 20%;
      .search {
        margin-right: 3rem;
      }
    }
  }  

  .row {
    &__movies { 
      .arrow {
        width: 5%;        
        &__icon {
          font-size: 6rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1036px) {
  .header__home {
    .header__movie { 
      &__title {
        font-size: 4rem;
      }
      
      &__paragraph {
        font-size: 1.8rem;
        width: 75%;
      }
    }
  }

  .movie-view {
    &__content {
      .video-player {
        height: 60%;
      }
    }
  }

  .home__nav {
    &__options { 
      width: 25%;
    }
  }  
}

@media screen and (max-width: 816px) {
  .home__nav {
    &__options { 
      width: 30%;
    }
  }  

  .movie-view {
    &__content {
      height: 70%;
      width: 90%;
      .video-player {
        height: 50%;
      }
    }
  }
}

@media screen and (max-width: 654px) {
  .header__home {
    height: 70vh;
  }
  .home__nav {
    &__options { 
      width: 35%;
    }
  } 
  
  .movie-view {
    &__content {
      height: 75%;
      .video-player {
        height: 60%;
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .home__nav {
    &__options { 
      width: 40%;
    }
  }  

  .movie-view {
    &__content {
      height: 80%;
      .video-player {
        height: 30%;
      }

      .bookmark {
        height: 5rem;
        width: auto;
        
        button {
          width: 100%;
          height: 100%;
          
          .svg-bookmark {
            height: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 556px) {
  .home__nav {
    height: 8%;
  }
  .header__home {
    height: 55vh;
    .header__movie {
      padding: 0 3rem; 
      
      &__paragraph {
        width: 100%;
      }
    }
  }

  .row {
    &__movies { 
      .arrow {
        width: 10%;        
      }
    }
  }

  .home__nav {
    &__options { 
      width: 30%;
      .search {
        margin-right: 0;
        h4 {
          margin-left: 0.4rem;
          font-size: 1.8rem;
        }
        img {
          width: 1.8rem;
        }
      }

      .user {
        position: relative;
        img {
          width: 4rem;
          height: 4rem;
        }
  
        &__options {
          width: auto;
          padding: 1rem 3rem;
          h3,
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 406px) {
  .header__movie__title {
    font-size: 10rem;
  }

  .home__nav {
    padding: 1rem 2rem;
    padding-right: 4rem;
    &__logo {
      img {
        width: 14rem;
      }
    }
  }  

  .row-list {
    padding: 2rem 2rem;
  }
  
  .row {
    &__title {
      margin-bottom: 1rem;
    }
  }

  .movie-view {
    &__content {
      width: 100%;
      min-height: 100%;
      max-height: auto;
    }
  }
}

@media screen and (max-height: 640px) {
  .home__nav {
    height: 10%;
  } 
  .header__home {
    height: 65vh;
  }
}