.header__home {
  height: 90vh;
  width: 100%;
  position: relative;
  // background-color: antiquewhite;
  z-index: 2;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba($color-dark, 0.3), rgba($color-dark, 0.3));
    z-index: -2;

    img {
      height: 100%;
      width: 100%;
    } 
  }

  .header__movie {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem; 
    color: $color-white;
    z-index: 2;
    background-image: linear-gradient(to bottom right, rgba($color-dark, 0.3), rgba($color-dark, 0.3));
    
    &__title {
      font-weight: 500;
      z-index: 2;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
    
    &__paragraph {
      z-index: 2;
      font-weight: 400;
      color: $color-white-light;
      font-size: 2rem;
      margin-bottom: 0.5rem;
      width: 70%;
    }
    
    &__play {
      z-index: 2;
      width: 10rem;
      font-size: 3rem;
      padding: 0.8rem 0.1rem;
      cursor: pointer;
      background-color: #55c57a;
      border: none;
      border-radius: 3px;
      font-weight: 500;
      color: $color-white;
    }
  }
}

.home__nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: absolute;
  background-color: rgba($color-dark, 0.8);
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  
  &__logo {
    img {
      width: 17rem;
    }
  }

  &__options { 
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
      }
      h4 {
        margin-left: 1rem;
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .user {
      position: relative;
      img {
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        margin-left: 2rem;
      }

      &__options {
        position: absolute;
        background-color: $color-dark;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding: 1rem;
        width: 18rem;
        margin-top: 1rem;
        border-radius: 4px;

        h3, a {
          font-size: 2rem;
          font-weight: 500;
          color: $color-white;
        }

        h3 {
          color: $color-primary;
          cursor: pointer;
        }

        a {
          margin-bottom: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}

.row-list {
  padding: 2rem 3rem;
}

.row {
  width: 100%;
  min-height: 25rem;
  position: relative;

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  } 

  &__movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      overflow: hidden; 
    }
  }
}

.movie-view {
  position: fixed !important;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color-dark, 0.3);
  z-index: 6;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    height: 100%;
    width: 100%;
    background-color: rgba($color-dark, 1);
    flex-direction: column;
    padding: 4rem;
    position: relative;

    .video-player {
      width: 100%;
      height: 70%;
      div {
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      margin-bottom: 2rem;
    }

    img {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      height: 3rem;
      cursor: pointer;
    }

    .name {
      font-size: 3rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    .description {
      font-size: 1.3rem;
      // text-align: center;
      margin-bottom: 1rem;
    }

    .bookmark {
      height: 8rem;
      width: 25rem;
      position: relative;
      background-color: $color-green;
      border-radius: 5px;
      
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:disabled {
          background-color: rgba(0, 0, 0, 0.9);
          svg {
            fill: rgba($color-white, 0.1);
            path {
              stroke: rgba($color-white, 0.1);
            }
          }
          h5 {
            color: rgba($color-white, 0.1);
          }
        }
        
        .svg-bookmark {
          display: flex;
          fill: $color-white;
          width: 20%;
          height: 80%;
          stroke-width: 0.2rem;
        }

        h5 {
          width: 70%;
          font-size: 2rem;
          color: $color-white;
        }
      }
    }
  }
}

