.search__content {
  padding: 2rem;
}

.btn-back {
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  background: rgba($color-dark, 0.8);
  border: none;
  color: $color-white;
  border-radius: 3px;
}

.search__form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 65% 20% 15%;

  input,
  select,
  button {
    font-size: 2rem;
    border: none;
    padding: 1rem 2rem;
    background: rgba($color-dark, 0.4);
    margin-right: 1rem;
    color: $color-white;
    outline: none;
    border-radius: 3px;

    &::placeholder {
      color: rgba($color-white, 0.6);
    }
  }

  select {
    option {
      background: rgba($color-dark, 0.8);
      cursor: pointer;
    }
  }

  button {
    cursor: pointer;
  }
}

.results {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 2rem;
  .movie {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1444px) {
  .results {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1146px) {
  .results {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 886px) {
  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .search__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 60% 24% 16%;
  }

  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 558px) {
  .search__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 55% 25% 20%;
  }
}

@media screen and (max-width: 470px) {
  .search__form {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 45% 25% 30%;

    select {
      padding: 0;
    }
  }
}